<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>text-app</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>All chats</h1>
    <hr />

    <form method="GET" action="/chats/new">
      <button>New Chat</button>
      <br /><br />
    </form>

    <% for (let chat of chats) { %>
      <div class="chat">
        <p>from: <i><%= chat.from %></i></p>
        <div class="msg">
          <p> <%= chat.message %></p>
        </div>

        <form method="GET" action="/chats/<%=chat._id%>/edit" class="btn">
          <button class="edit">Edit</button>
        </form>
  
        <form method = "POST" action="/chats/<%=chat.id%>?_method=DELETE" class="btn">
          <button class="delete">Delete</button>
        </form>

        <p>to:  <i><%= chat.to %></i></p>
        <hr />
        <p><%= chat.created_at.toString().split(" ")[4] %></p>
        <p><%= chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>
      </div>
      <br /><br />
    <%}%>

</body>
</html>